In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('bank.csv', sep=";")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [2]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

# ONE HOT ENCODING: https://www.kaggle.com/alexisbcook/categorical-variables

In [3]:
# il one hot encoding necessita della vettorizzazione del dataset
s = (df.dtypes == 'object') #vettorizzo
object_cols = list(s[s].index)

# #SIstemo le categoriche continue
# object_cols = df.select_dtypes(object)


df_OHE = pd.get_dummies(df) #one hot encoding
df_OHE.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes
0,30,1787,19,79,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
1,33,4789,11,220,1,339,4,0,0,0,...,1,0,0,0,1,0,0,0,1,0
2,35,1350,16,185,1,330,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,30,1476,3,199,4,-1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,59,0,5,226,1,-1,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0

# CREO LA X E LA y

In [4]:
y = df_OHE.y_yes

X = df_OHE.drop(['y_yes', "y_no"], axis=1)

# TRAIN_TEST SPLIT: https://www.kaggle.com/thanethunder/exercise-model-validation/edit

In [5]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
print(train_y.shape)
print(val_y.shape)

(3390,)
(1131,)

# LOGISTIC REGRESSION

In [6]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(random_state=0)
logistic_model.fit(train_X, train_y)
df_preds = logistic_model.predict(val_X)
print(precision_score(val_y, df_preds))


# >>> from sklearn.datasets import load_iris
# >>> from sklearn.linear_model import LogisticRegression
# >>> X, y = load_iris(return_X_y=True)
# >>> clf = LogisticRegression(random_state=0, solver='lbfgs',
# ...                          multi_class='multinomial').fit(X, y)
# >>> clf.predict(X[:2, :])
# array([0, 0])
# >>> clf.predict_proba(X[:2, :]) 
# array([[9.8...e-01, 1.8...e-02, 1.4...e-08],
#        [9.7...e-01, 2.8...e-02, ...e-08]])
# >>> clf.score(X, y)
# 0.97...

/home/dami/anaconda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

NameError: name 'precision_score' is not defined

# RANDOM FOREST 1: https://www.kaggle.com/dansbecker/random-forestst

In [61]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score

forest_model = RandomForestClassifier(random_state=0, max_leaf_nodes=5, n_estimators = 11)
forest_model.fit(train_X, train_y)
df_preds = forest_model.predict(val_X)
print(precision_score(val_y, df_preds))

0.8

In [62]:
from sklearn.metrics import confusion_matrix
 
cm = confusion_matrix(val_y, df_preds)
print(cm)

[[987   1]
 [139   4]]

In [21]:
989/(987+142)

0.8759964570416298

# Ma che cazzo èè??????? Se metto  max_leaf_nodes=5 come iperparametro la precisione scatta al 100%?????? =)

# Infatti si è rivelato un modello del cazzo

# RANDOM FOREST 2: UNDERFITTING AND OVERFITTING\
https://www.kaggle.com/dansbecker/underfitting-and-overfitting

In [8]:
# def get_precision(max_leaf_nodes, train_X, val_X, train_y, val_y):
#     model = RandomForestClassifier(max_leaf_nodes=max_leaf_nodes, random_state=0)
#     model.fit(train_X, train_y)
#     preds_val = model.predict(val_X)
#     precision = precision_score(val_y, preds_val)
#     return(precision)

# # compare Precisionscore with differing values of max_leaf_nodes
# for max_leaf_nodes in [5, 50, 500, 5000]:
#     my_precision = get_precision(max_leaf_nodes, train_X, val_X, train_y, val_y)
#     print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_precision))

# ADESSO TENTERò DI INTERPRETARE IL MODELLO TRAMITE: 
- Permutation Importance
- Partial Plot

# - Permutation Importance

In [9]:
import eli5

In [10]:
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(forest_model, random_state=1).fit(val_X, val_y)
eli5.show_weights(perm, feature_names = val_X.columns.tolist())