# Analisi Esplorativa:

In [1]:
#Import dei paccheti per pre-processing
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

# Import dei pacchetti per modelli di MACHINE LEARNING
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from IPython.display import Image  

# Import dei pacchetti per i modelli statistici
import statsmodels.api as sm
import statsmodels.formula.api as smf

#Import dataset:
melbourne_file_path = '/home/dami/Progetti_unifi/DMO/Dataset/melb_data.csv'
df = pd.read_csv(melbourne_file_path) 
del melbourne_file_path

QUI FACCIO UN PANDAS-PROFILING + UN MODELLO AD ALBERO + UN OLS

# PRE PROCESSING VELOCISSIMO PER LANCIO DI UN MODELLO

In [326]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [327]:
# profile = ProfileReport(df, title='Melbourne', html={'style':{'full_width':True}})
# profile

In [2]:
df.dropna(axis=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
12206,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,3016.0,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
12207,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,3016.0,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
12209,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
12212,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

DOPO AVER DROPPATO I MISSING SELEZIONO LA VARIABILE RISPOSTA + LE COVARIATE

In [3]:
y = df.Type
COVARIATE = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude','Price']
X = df[COVARIATE]

# MODELLO (DECISION TREE ON TYPE):
- DEFINE
- FIT
- PREDICT
- EVALUATE

- DEFINE

In [4]:
df_model_tree = DecisionTreeClassifier(criterion = 'gini', max_depth = 3).fit(X,y)

#random_state=1 indica il seed

- FIT

In [5]:
df_model_tree.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

- PREDICT

In [6]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(df_model_tree.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude      Price
0      2       1.0     202.0   -37.7996    144.9984  1480000.0
1      2       1.0     156.0   -37.8079    144.9934  1035000.0
2      3       2.0     134.0   -37.8093    144.9944  1465000.0
3      3       2.0      94.0   -37.7969    144.9969   850000.0
4      4       1.0     120.0   -37.8072    144.9941  1600000.0
The predictions are
['h' 'h' 'h' 'h' 'h']

Noto che le prime 5 predizioni sono esatte

# MODELLO REGRESSIONE LINEARE (su "Prezzo")

In [7]:
y = X.Price
X = X.drop(['Price'], axis=1)
print(X.corr())

               Rooms  Bathroom  Landsize  Lattitude  Longtitude
Rooms       1.000000  0.592934  0.025678   0.015948    0.100771
Bathroom    0.592934  1.000000  0.037130  -0.070594    0.118971
Landsize    0.025678  0.037130  1.000000   0.009695    0.010833
Lattitude   0.015948 -0.070594  0.009695   1.000000   -0.357634
Longtitude  0.100771  0.118971  0.010833  -0.357634    1.000000

In [13]:
print('UN OCCHIO AI DATI')
print(X,y)
print('STATISTICHE DESCRITTIVE')
print(X.describe())
print('TIPO DI DATO (INFORMATICO)')
print(X.dtypes)

UN OCCHIO AI DATI
       Rooms  Bathroom  Landsize  Lattitude  Longtitude
0          2       1.0     202.0  -37.79960   144.99840
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
3          3       2.0      94.0  -37.79690   144.99690
4          4       1.0     120.0  -37.80720   144.99410
...      ...       ...       ...        ...         ...
13575      4       2.0     652.0  -37.90562   145.16761
13576      3       2.0     333.0  -37.85927   144.87904
13577      3       2.0     436.0  -37.85274   144.88738
13578      4       1.0     866.0  -37.85908   144.89299
13579      4       1.0     362.0  -37.81188   144.88449

[13580 rows x 5 columns] 0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64
STATISTICHE DESCRITTIVE
              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350
TIPO DI DATO (INFORMATICO)
Rooms           int64
Bathroom      float64
Landsize      float64
Lattitude     float64
Longtitude    float64
dtype: object

In [9]:
del X
X = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = df[X]
X1 = ['Rooms', 'Bathroom','Landsize']
X1 = df[X1]
#Bathroom2 = df.Bathroom.astype(int)
#X['Bathroom2'] = Bathroom2
#X = X.drop(['Bathroom'], axis = 1)
y = df.Price

In [11]:
df_model_linear = smf.ols('y ~ X', data=df).fit()


df_model_linear1 = smf.ols('y ~ X1', data=df).fit()

In [12]:
print(df_model_linear.summary())
print(df_model_linear1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.338
Model:                            OLS   Adj. R-squared:                  0.338
Method:                 Least Squares   F-statistic:                     1389.
Date:                Tue, 25 Feb 2020   Prob (F-statistic):               0.00
Time:                        11:40:11   Log-Likelihood:            -1.9800e+05
No. Observations:               13580   AIC:                         3.960e+05
Df Residuals:                   13574   BIC:                         3.961e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.223e+08   6.28e+06    -19.490      0.000   -1.35e+08    -1.1e+08
X[0]        2.345e+05   5827.716     40.246      0.000    2.23e+05    2.46e+05
X[1]        2.189e+05   8062.682     27.149      0.000    2.03e+05    2.35e+05
X[2]           3.2935      1.119      2.942      0.003       1.099       5.488
X[3]       -1.406e+06   6.06e+04    -23.199      0.000   -1.52e+06   -1.29e+06
X[4]        4.774e+05   4.63e+04     10.304      0.000    3.87e+05    5.68e+05
==============================================================================
Omnibus:                     6854.321   Durbin-Watson:                   1.438
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           102192.976
Skew:                           2.064   Prob(JB):                         0.00
Kurtosis:                      15.789   Cond. No.                     5.67e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.67e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.293
Model:                            OLS   Adj. R-squared:                  0.293
Method:                 Least Squares   F-statistic:                     1875.
Date:                Tue, 25 Feb 2020   Prob (F-statistic):               0.00
Time:                        11:40:11   Log-Likelihood:            -1.9845e+05
No. Observations:               13580   AIC:                         3.969e+05
Df Residuals:                   13576   BIC:                         3.969e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   3.183e+04   1.51e+04      2.110      0.035    2256.691    6.14e+04
X1[0]       2.266e+05   5994.975     37.795      0.000    2.15e+05    2.38e+05
X1[1]       2.454e+05   8286.325     29.612      0.000    2.29e+05    2.62e+05
X1[2]          3.0361      1.157      2.624      0.009       0.768       5.304
==============================================================================
Omnibus:                     6656.151   Durbin-Watson:                   1.358
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            88441.018
Skew:                           2.024   Prob(JB):                         0.00
Kurtosis:                      14.829   Cond. No.                     1.37e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.37e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
print(df_model_linear1.predict(X))
print(y)

0        7.309799e+05
1        7.308402e+05
2        1.202731e+06
3        1.202610e+06
4        1.183890e+06
             ...
13575    1.430883e+06
13576    1.203335e+06
13577    1.203648e+06
13578    1.186154e+06
13579    1.184624e+06
Length: 13580, dtype: float64
0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64